@model List<UA5_Restaurant_App.Models.BasketFormModel>

@{
    var orderCode = Context.Request.Query["orderCode"].ToString();
}

@foreach (var item in Model.Where(m => (m.Status_Id == 1 || m.Status_Id == 2) &&
string.Equals(m.Order_code, orderCode, StringComparison.OrdinalIgnoreCase)))
{
    <div class="col-12 row align-items-start p-0 my-3 mx-0 basket-item-line" data-item-id="@item.Item_Id" data-item-total-price="@item.Price" data-item-price="@item.Item_price" data-item-quantity="@item.Quantity">
        <div class="col-8 p-0 m-0 d-flex">
            <button type="button" class="btn btn-danger btn-sm close" data-item-id="@item.Item_Id">
                <span aria-hidden="true">×</span>
            </button>
            <img src="/public/images/@item.Image_Path" class="basket-card-img" alt="@item.Item_Name Image">
            <div class="col-7 p-0 ms-2 row">
                <p class="card-title text-start p-0 m-0">@item.Item_Name</p>
                <p class="card-text text-start p-0 text-muted">£<span class="item-total-price" data-item-id="@item.Item_Id">@item.Price</span></p>
            </div>
        </div>
        <div class="col-auto p-0">
            <select class="basket input-quantity form-control-sm" data-item-id="@item.Item_Id" data-item-quantity="@item.Quantity">

                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="col-auto p-0 checkout-item-quantity">
            <p class="card-title text-start text-muted p-0 m-0">Quantity: @item.Quantity</p>
        </div>
    </div>
}
