@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<UA5_Restaurant_App.Models.MenuFormModel>



<div class="col-12 p-0 m-0 bg-white sticky-top">
    <div class="col-md-9 ">
        <nav id="menu-navbar" class="nav-menu">
            <ul class="nav nav-tabs">
                <li class="nav-item "><a class="nav-link active" href="#Starters">Starters</a></li>
                <li class="nav-item"><a class="nav-link" href="#Mains">Mains</a></li>
                <li class="nav-item"><a class="nav-link" href="#Desserts">Desserts</a></li>
                <li class="nav-item"><a class="nav-link" href="#Sides">Sides</a></li>
                <li class="nav-item"><a class="nav-link" href="#Drinks">Drinks</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="col-md-9 p-0 m-0">
    <h4 id="Starters">Starters</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Dish_Type_Id == 1))
            {
                <div class="card" id="@item.Id">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">£@item.Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" id="@item.Id" data-title="@item.Name" data-price="@item.Price">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>



    <h4 id="Mains">Mains</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Dish_Type_Id == 2))
            {
                <div class="card" id="@item.Id">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">£@item.Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" id="@item.Id" data-title="@item.Name" data-price="@item.Price">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>




    <h4 id="Desserts">Desserts</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Dish_Type_Id == 4))
            {
                <div class="card" id="@item.Id">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">£@item.Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" id="@item.Id" data-title="@item.Name" data-price="@item.Price">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <h4 id="Sides">Sides</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Dish_Type_Id == 3))
            {
                <div class="card" id="@item.Id">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">£@item.Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" id="@item.Id" data-title="@item.Name" data-price="@item.Price">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <h4 id="Drinks">Drinks</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section drinks">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589423045402-6074a1bdf723?q=80&w=2551&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drink 1</h5>
                    <div class="row">
                        <p class="card-text">Drink 1 Bio</p>
                        <p class="card-text">Drink 1 Price</p>
                    </div>
                    <p class="text-muted small text-center">Allergens</p>
                    <a href="#" class="btn btn-primary w-100">Order Now</a>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589423045402-6074a1bdf723?q=80&w=2551&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drink 2</h5>
                    <div class="row">
                        <p class="card-text">Drink 2 Bio</p>
                        <p class="card-text">Drink 2 Price</p>
                    </div>
                    <p class="text-muted small text-center">Allergens</p>
                    <a href="#" class="btn btn-primary w-100">Order Now</a>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589423045402-6074a1bdf723?q=80&w=2551&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drink 3</h5>
                    <div class="row">
                        <p class="card-text">Drink 3 Bio</p>
                        <p class="card-text">Drink 3 Price</p>
                    </div>
                    <p class="text-muted small text-center">Allergens</p>
                    <a href="#" class="btn btn-primary w-100">Order Now</a>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589423045402-6074a1bdf723?q=80&w=2551&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drink 3</h5>
                    <div class="row">
                        <p class="card-text">Drink 3 Bio</p>
                        <p class="card-text">Drink 3 Price</p>
                    </div>
                    <p class="text-muted small text-center">Allergens</p>
                    <a href="#" class="btn btn-primary w-100">Order Now</a>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1589423045402-6074a1bdf723?q=80&w=2551&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Drink 3</h5>
                    <div class="row">
                        <p class="card-text">Drink 3 Bio</p>
                        <p class="card-text">Drink 3 Price</p>
                    </div>
                    <p class="text-muted small text-center">Allergens</p>
                    <a href="#" class="btn btn-primary w-100">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


