@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<UA5_Restaurant_App.Models.MenuFormModel>



<div class="col-12 p-0 m-0 bg-white sticky-top">
    <div class="col-md-9 ">
        <nav id="menu-navbar" class="nav-menu">
            <ul class="nav nav-tabs">
                <li class="nav-item "><a class="nav-link active" href="#Starters">Starters</a></li>
                <li class="nav-item"><a class="nav-link" href="#Mains">Mains</a></li>
                <li class="nav-item"><a class="nav-link" href="#Desserts">Desserts</a></li>
                <li class="nav-item"><a class="nav-link" href="#Sides">Sides</a></li>
                <li class="nav-item"><a class="nav-link" href="#Drinks">Drinks</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="col-md-9 p-0 m-0">
    <h4 id="Starters">Starters</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Item_Type_Id == 1))
            {
                <div class="card" id="@item.Item_Id" data-dietary-id="@item.Dietary_Id" style="display: none;">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="@item.Item_Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Item_Name</h5>
                        <p class="card-text">@item.Item_Description</p>
                        <p class="card-text">£@item.Item_Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" data-item-id="@item.Item_Id" data-order-code="" data-item-name="@item.Item_Name" data-item-price="@item.Item_Price" data-item-quantity="1">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>



    <h4 id="Mains">Mains</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Item_Type_Id == 2))
            {
                <div class="card" id="@item.Item_Id" data-dietary-id="@item.Dietary_Id" style="display: none;">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="@item.Item_Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Item_Name</h5>
                        <p class="card-text">@item.Item_Description</p>
                        <p class="card-text">£@item.Item_Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" data-item-id="@item.Item_Id" data-order-code="" data-item-name="@item.Item_Name" data-item-price="@item.Item_Price" data-item-quantity="1">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>




    <h4 id="Desserts">Desserts</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Item_Type_Id == 4))
            {
                <div class="card" id="@item.Item_Id" data-dietary-id="@item.Dietary_Id" style="display: none;">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="@item.Item_Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Item_Name</h5>
                        <p class="card-text">@item.Item_Description</p>
                        <p class="card-text">£@item.Item_Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" data-item-id="@item.Item_Id" data-order-code="" data-item-name="@item.Item_Name" data-item-price="@item.Item_Price" data-item-quantity="1">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <h4 id="Sides">Sides</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Item_Type_Id == 3))
            {
                <div class="card" id="@item.Item_Id" data-dietary-id="@item.Dietary_Id" style="display: none;">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="@item.Item_Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Item_Name</h5>
                        <p class="card-text">@item.Item_Description</p>
                        <p class="card-text">£@item.Item_Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" data-item-id="@item.Item_Id" data-order-code="" data-item-name="@item.Item_Name" data-item-price="@item.Item_Price" data-item-quantity="1">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <h4 id="Drinks">Drinks</h4>
    <div class="menu-section-container mb-4">
        <div class="menu-section food">
            @foreach (var item in Model.Where(m => m.Item_Type_Id == 5))
            {
                <div class="card" id="@item.Item_Id" data-dietary-id="@item.Dietary_Id" style="display: none;">
                    <img src="/public/images/@item.Image_Path" class="card-img-top" alt="@item.Item_Name Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Item_Name</h5>
                        <p class="card-text">@item.Item_Description</p>
                        <p class="card-text">£@item.Item_Price</p>
                        <p class="text-muted small allergens text-center">@item.Dietary_Titles</p>
                        <button type="button" class="btn btn-primary w-100 order-now-btn" data-item-id="@item.Item_Id" data-order-code="" data-item-name="@item.Item_Name" data-item-price="@item.Item_Price" data-item-quantity="1">Order Now</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


